
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
	outline-style:none;
	box-shadow:none;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 5.75vw;
}

h2 {
	font-size: 5vw;
}

img {
	pointer-events: none;
}

/*start for testing only*/

/*[class*="col-"] {
	border: 1px solid black;
}*/

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

/*end for testing only*/

/*start colors*/

/*start background colors*/
.bg-color-black {
	background-color: #1B242F;
}

.bg-color-black-2 {
	background-color: #252934;
}

.bg-color-black-3 {
	background-color: #1E242C;
}

.bg-color-white {
	background-color: #FFFFFF;
}

.bg-color-white-2 {
	background-color: #F5F5F5;
}

.bg-color-main {
	background-color: #478CE9;
}

.bg-color-main-2 {
	background-color: #517FBC;
}

.bg-color-secondary {
	background-color: #E8983F;
}
/*end background colors*/

/*start font colors*/

.font-color-heading {
	color: #444649;
}

.font-color-black {
	color: #6F6F6F;
}

.font-color-black-2 {
	color: #252934;
}

.font-color-black-3 {
	color: #1E242C;
}

.font-color-white {
	color: #FFFFFF;
}

.font-color-main {
	color: #478CE9;
}

.font-color-main-2 {
	color: #517FBC;
}

.font-color-secondary {
	color: #E8983F;
}

.font-fade {
	opacity: 0.5;
	font-weight: 400;
}

/*end font colors*/

/*end colors*/


/*start navbar*/

.navbar {
	/*nothing so far*/
}

.navbar-accent {
	border-bottom: 10px solid #478CE9;
}

.navbar-toggler {
	margin-left: auto;
}

.navbar-toggler-icon {
	background-image: url(../images/icons/bars-solid.svg);
}

.nav-link {
	text-align: right;
}

.nav-link:focus {
	color: white;
}

/*end navbar*/


/*start home*/
#home {
	height: 100vh;
	background-image: url(../images/home/home-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#home:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3));
}

.home-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.home-btn {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 0%;
	color: white;
	font-weight: 500;
}

.home-btn:visited {
	color: white;
}

.home-btn:hover {
	border: 2px solid #478CE9;
	background-color: #478CE9;
	color: white;
}

/*end home*/


/*start about*/
#about {
	/*nothing so far*/
}

.about-title {
	/*nothing so far*/
}

.about-heading {
	letter-spacing: 5px;
}

.about-me {
	/*nothing so far*/
}

.about-me-pic {
	width: 200px;
	border-radius: 50%;
}

.about-technologies {

}

.technologies-icon {
	width: 29.3%;
	height: 29.3%;
	margin: 0 2%;
	padding: 2%;
}

/*end about*/


/*start projects*/
#projects {
	/*nothing so far*/
}

.projects-title {
	/*nothing so far*/
}

.projects-heading {
	letter-spacing: 5px;
}

.projects-item-pic {
	width: 100%;
}

.projects-btn {
	background-color: none;
	border: 2px solid #E8983F;
	width: 40%;
	border-radius: 0%;
	color: #E8983F;
	font-weight: 500;
}

.projects-btn:visited {
	color: #E8983F;
}

.projects-btn:hover {
	border: 2px solid #E8983F;
	background-color: #E8983F;
	color: white;
}

.projects-btn-unavailable {
	background-color: none;
	border: 2px solid #6F6F6F;
	width: 40%;
	border-radius: 0%;
	color: #6F6F6F;
	font-weight: 500;
	pointer-events: none;
	opacity: 0.5;
}
/*end projects*/


/*start contact*/
#contact {
	/*nothing so far*/
}

.contact-title {
	/*nothing so far*/
}

.contact-form {
	/*nothing so far*/
}

.contact-heading {
	letter-spacing: 5px;
}

.contact-input {
	border-radius: 0;
	border: 0px solid transparent;
}

.contact-input:focus {
	background-color: #1E242C;
}

.contact-input:active {
	background-color: #1E242C;
}

.contact-btn {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 0%;
	color: white;
	font-weight: 500;
	width: 30%;
	margin-left: auto;
}

.contact-btn:visited {
	color: white;
}

.contact-btn:hover {
	border: 2px solid #478CE9;
	background-color: #478CE9;
	color: white;
}

/*end contact*/


/*start footer*/

a[class*="social-"] {
	height: 25px;
	width: 25px;
	padding: 6px;
	text-decoration: none;
}

a[class*="social-"] > img {
	height: 25px;
	width: 25px;
}

/*end footer*/


/*media queries*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	h1 {
		font-size: 4.75vw;
	}

	h2 {
		font-size: 4vw;
	}

	/*start about*/
	.technologies-icon {
		width: 21%;
		height: 21%;
	}
	/*end about*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	h1 {
		font-size: 3.75vw;
	}

	h2 {
		font-size: 3vw;
	}

	.nav-link {
		margin-right: 30px;
	}

	/*start about*/
	.technologies-icon {
		width: 16%;
		height: 16%;
	}
	/*end about*/
}


























